<div *ngFor="let node of nodes">
  <div class="node" (click)="nodeClick(node)">
    <mat-icon>{{node.downloadType !== undefined ? "description" : "folder"}}</mat-icon>
    <div>{{node.name}}</div>
  </div>
  <app-exploretree-node [nodes]="node.children ?? []" *ngIf="node.showChildren"></app-exploretree-node>
</div>

<!-- <div class="node">
  <mat-icon>folder</mat-icon>
  <div>src</div>
</div>
<div class="children">
  <div class="node">
    <mat-icon>folder</mat-icon>
    <div>java</div>
  </div>
  <div class="children">
    <div class="node">
      <mat-icon>folder</mat-icon>
      <div>com.example.bas</div>
    </div>
    <div class="node">
      <mat-icon>folder</mat-icon>
      <div>db.migration</div>
    </div>
  </div>
</div> -->
