<div cdkDropList (cdkDropListDropped)="drop($event)">
  <div *ngFor="let field of getTable().fields; let fieldIndex = index;" cdkDrag class='column'>
    <div *cdkDragPlaceholder></div>
    <div class='field'>
      <mat-icon>{{typeToIcon(field.type)}}</mat-icon>
      <div class='fieldName'>
        {{field.name}}
      </div>
      <button mat-button color="primary" (click)="openSettingsDialog(fieldIndex)">Settings</button>
      <button mat-icon-button>
        <mat-icon color="warn" (click)="delete(fieldIndex)">close</mat-icon>
      </button>
    </div>
  </div>
</div>

<button mat-raised-button color="primary" (click)="openAddFieldDialog()">Add Field</button>
