.column {
  border: 1px solid #DFDADA;
  padding: 5px 5px 5px 5px;
  margin: 10px 0px 10px 0px;
  max-width: 500px;
  cursor: grab;
}
div.field {
  display: flex;
  align-items: center;
}
div.field mat-icon {
  margin-right: 4px;
}
div.fieldName {
  flex-grow: 4;
}
