<div cdkDropList (cdkDropListDropped)="drop($event)">
  <div *ngFor="let field of getTable().fields; let fieldIndex = index;" cdkDrag class='column'>
    <div *cdkDragPlaceholder></div>
    <div class='field'>
      <div class='fieldName'>{{field.name}}</div>
      <button mat-button color="primary" (click)="openDialog(fieldIndex)">Settings</button>
      <button mat-icon-button>
        <mat-icon color="warn">close</mat-icon>
      </button>
    </div>
  </div>
</div>

<button mat-raised-button color="primary" (click)="add()">Add Field</button>
