<div class="main-wrapper">
    <!--register section start-->
    <section
      class="sign-up-in-section bg-dark ptb-60"
      style="
        background: url('assets/img/page-header-bg.svg') no-repeat right bottom;
      "
    >
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-5 col-md-8 col-12">
            <a routerLink="/" class="mb-4 d-block text-center"
              ><img src="assets/img/ibexapps/logo_white.png" alt="logo" class="ibex-logo"
            /></a>
            <div class="register-wrap p-5 bg-light shadow rounded-custom">
              <div>
                <h1 class="fw-bold h3">Change your Password</h1>
                  <div class="row">
                    <div class="col-sm-12" *ngIf="passwordChanged">
                        <p>
                            Your password has been changed succesfully.
                        </p>
                    </div>
                    <div class="col-sm-12" *ngIf="!passwordChanged">
                        <label for="password" class="mb-1"
                          >Password <span class="text-danger">*</span></label
                        >
                        <div class="input-group mb-3">
                          <input
                            type="password"
                            class="form-control"
                            placeholder="Password"
                            id="password"
                            required
                            aria-label="Password"
                            [formControl]="passwordFormControl"
                          />
                        </div>
                        <div id="validation-rules" class="mt-3" *ngIf="requiredValid || submitClicked">
                          <!-- minlength -->
                          <div [ngClass]="{ 'text-success': minLengthValid, 'text-danger': !minLengthValid || !requiredValid}">
                            Must be at least 8 characters long
                          </div>
    
                          <!-- requires digit -->
                          <div [ngClass]="{ 'text-success': requiresDigitValid, 'text-danger': !requiresDigitValid || !requiredValid }">
                            Must contain at least 1 digit
                          </div>
    
                          <!-- requires uppercase -->
                          <div [ngClass]="{ 'text-success': requiresUppercaseValid, 'text-danger': !requiresUppercaseValid || !requiredValid}">
                            Must contain at least 1 uppercase character
                          </div>
    
                          <!-- requires lowercase -->
                          <div [ngClass]="{ 'text-success': requiresLowercaseValid, 'text-danger': !requiresLowercaseValid || !requiredValid }">
                            Must contain at least 1 lowercase character
                          </div>
                        </div>
                    </div>
         

                    <!-- <div id="validation-rules" class="mt-3" *ngIf="problem" class="text-danger">
                      There was a problem sending the email.
                    </div> -->
  
                    <div class="col-12" *ngIf="!passwordChanged">
                      <button
                        class="btn btn-primary mt-3 d-block w-100"
                        (click)="changePassword()"
                      >
                        Change Password
                      </button>
                    </div>
                  </div>
                  <p class="font-monospace fw-medium text-center mt-3 pt-4 mb-0">
                    <a routerLink="/build" class="text-decoration-none"
                      >Back to build page.</a
                    >
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  