<section
  class="hero-section ptb-120 min-vh-100 d-flex align-items-center bg-dark text-white position-relative overflow-hidden"
  style="
    background: url('assets/img/page-header-bg.svg') no-repeat bottom right;
  "
>
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6">
        <div class="hero-content-wrap">
          <h1 class="fw-bold display-5">
            Create software fast
          </h1>
          <p class="lead">
            Ibex apps is a code generation platform to make Java microservices for databases.
            Configure your tables and immediately see the code.
          </p>
          <div class="action-btns mt-5">
            <a routerLink="/build" class="btn btn-primary me-3"
              >Try now</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-8 mt-5 mt-lg-0">
        <div class="animated-img-wrap">
          <!--animated shape start-->
          <ul
            class="animate-element parallax-element animated-hero-1"
            style="
              position: relative;
              transform: translate3d(0px, 0px, 0px);
              transform-style: preserve-3d;
              backface-visibility: hidden;
            "
          >
            <li
              class="layer"
              data-depth="0.02"
              style="
                position: relative;
                display: block;
                left: 0px;
                top: 0px;
                transform: translate3d(-5.48275px, 0px, 0px);
                transform-style: preserve-3d;
                backface-visibility: hidden;
              "
            >
              <img
                src="assets/img/screen/animated-screen-2.svg"
                alt="shape"
                class="img-fluid position-absolute type-0"
              />
            </li>
          </ul>
          <!--animated shape end-->
          <img
            src="assets/img/screen/animated-screen-1.svg"
            alt="shape"
            class="position-relative img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>
