<app-header [shadow]="true" [build]="true"></app-header>
<div class="row">
  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
    <!-- <div id="appheader"></div> -->
    <app-tables></app-tables>
  </div>

  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
    <!-- <div id="appheader"></div> -->
    <app-exploretree></app-exploretree>
  </div>

  <div class="p-2 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 col-xxl-6">
    <div id="appheader">
      <!-- <div class="left">
        {{getFileName()}}
      </div> -->
      <div class="left">
        <div class="button" (click)="downloadZip()">
          <mat-icon>download</mat-icon>
          Download all code
        </div>
        <div class="button" (click)="copyToClipboard()">
          <mat-icon>file_copy</mat-icon>
          Copy File
        </div>
      </div>
    </div>
    <app-codeviewer></app-codeviewer>
  </div>
</div>
<div id="chat" *ngIf="isChatActive()">
  <app-chat></app-chat>
</div>
